# Virtual Environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyCharm files
.idea/

# VS Code files
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Python distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# Log files
*.log